
body {
    background-image: linear-gradient(to right bottom, #0d0de9, #0062ff, #008cff, #00adf7, #00cae4, #00d8dd, #00e4ca, #00eead, #00ef94, #00ef76, #00ee51, #0eec0e);
    background-attachment: fixed;
    font-family: 'Rajdhani', serif;

    min-width: 1224px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;

}

.logo {
    position: relative;
    top: 15px;
    left: 40px;
    margin: auto;
    width: 50px;

}

h1 {
    text-align: center;
    font-size: 4em;
}

.btn-iniciar {
     /* Estilo */
     background: #00DAA9;
     border-radius: 24px;
     border-color: #00DAA9;
     font-style: normal;
     font-family: 'Rajdhani', serif;
 
     line-height: 22px;
     font-size: 24px;
     font-weight: 700;    
 
     /* Posição do botão */
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     padding: 24px;
     
     position: absolute;
     width: 317px;
     height: 114px;
     left: 0;
     margin: auto; 
     right: 0;
 }

 #forca {
    background: none;
    
 }


